.w {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 84px;
  border-bottom: 2px solid #c81523;
}
.header a{
  display: block;
  width: 172px;
  height: 58px;
  text-indent: -9999px;
  overflow: hidden;
}
.header .logo {
  position: absolute;
  top: 10px;
  /* background-color: blue; */
  background: url(../images/icons.png) no-repeat -372px -12px;
  width: 172px;
  height: 58px;
}

.registerarea{
  height: 522px;
  margin-top: 20px;
  border: 1px solid #e9ece9;
}
.reg_hd{
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 600;
  padding: 0 5px;
  background-color: #e9ece9;
}
.reg_hd span {
  font-weight: 400;
  float: right;
}
.reg_hd span a{
  color: #c81523;
}
.reg_form {
  width: 600px;
  margin: 50px auto 0;
  font-size: 14px;
}
.reg_form ul li{
  margin-bottom: 20px;
}
.reg_form ul li label{
  display: inline-block;
  width: 88px;
  text-align: right;
}
.reg_form ul li:nth-child(-n+5) input {
  width: 242px;
  height: 37px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.safe{
  margin-left: 175px;
}
.safe em {
  padding: 0 12px;
  margin-left: 5px;
  color: #fff;
}
.ruo {
  background-color: #de1111;
}
.zhong {
  background-color: #40b83f;
}
.qiang {
  background-color: #f79100;
}
.agree{
  margin-left: 100px;
  vertical-align: middle;
}
.complete{
  margin: 10px 0 0 120px;
  width: 200px;
  height: 37px;
  background-color: #c81523;
  color: #fff;
}
.error{
  color: #c81523;
}
.error_icon,
.success_icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  background: url(../images/error.png);
}
.success {
  color: green;
}
.success_icon {
  background: url(../images/success.png);
}
.footer{
  margin-top: 30px;
}
.mod_copyright {
  text-align: center;
  padding-top: 20px;
}

.links a {
  margin: 0 3px;
}

.copyright {
  padding-top: 15px;
  line-height: 20px;
}